.emailList {
  flex: 0.8;
  overflow: scroll;
}
.emailList::-webkit-scrollbar {
  display: none;
}
.emailList_setting {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background: white;
  z-index: 1000;
  padding-right: 10px;
}
.emailList_section {
  display: flex;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  border-bottom: 1px solid whitesmoke;
  font-size:5rem
}

.emailList_list {
  padding-bottom: 20px;
}
