.section {
  display: flex;
  align-items: center;
  padding: 3px;
  min-width: 200px;
}
.section--selected {
  border-width: 3px !important;
  background: whitesmoke;
}
.section:hover {
  background: whitesmoke;
  border-width: 3px !important;
}
.section > h4 {
  font-size: 14px;
  margin-left: 15px;
}
