.sendMail {
  position: absolute;
  bottom: 0px;
  right: 50px;
  background: #313331;
  width: 44%;
  height: 50%;
  max-width: width 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.24);
}
.sendMail_header {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}
.sendMail_header > h3 {
  color: whitesmoke;
  font-size: 12px;
}
.sendMail_send {
  background: #29ed !important;
  text-transform: capitalize !important;
  margin: 15px !important;
  padding: 10px;
  color: white;
  border:none;
  border-radius:5px;
  
}
.sendMail_close {
  cursor: pointer;
}
.sendMail > form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sendMail > form > input {
  height: 30px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid whitesmoke;
}
.sendMail_message {
  flex: 1;
  outline: none;
  border:none;
  padding: 10px;
}
